{% extends 'adminLTE/adminLTE_layout.html' %}

{% block stylesheet_includes %}


{% endblock %}


{% block content_wrapper %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Article View</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/dashboard/articles">Articles</a></li>
                            <li class="breadcrumb-item active">Article</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
{#            <div class="container-fluid">#}
{#                <div class="row">#}
{#                    <div class="col-12">#}
{#                        <div class="card">#}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe src="/raw/articles/{{ id }}" class="embed-responsive-item"
                                        title="Article Iframe"></iframe>

                            </div>
{#                        </div>#}
                        <!-- /.card -->
{#                    </div>#}
                    <!-- /.col -->
{#                </div>#}
                <!-- /.row -->
{#            </div>#}
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}


{% block scripts_includes %}



{% endblock %}