{% extends 'adminLTE/adminLTE_layout.html' %}

{% block stylesheet_includes %}

    <!-- DataTables -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">

{% endblock %}


{% block content_wrapper %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Users</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Registered</th>
                                        <th>Activated</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users|reverse %}
                                        <tr id="user{{ user.id }}">
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.register_date }}</td>
                                            <td>
                                                {% if user.activated %}
                                                    <i class="fas fa-check-circle text-green"></i>
                                                {% else %}
                                                    <i class="fas fa-times-circle text-red"></i>
                                                {% endif %}
                                            </td>
                                            <td>

{#                                                    <a href="/admin/dashboard/articles/edit/{{ user.id }}"#}
{#                                                       class="mr-2"><i class="fas fa-pencil-alt"></i></a>#}
{#                                                    <a href="/admin/dashboard/articles/delete/{{ user.id }}"#}
{#                                                       class="text-danger"><i class="far fa-trash-alt"></i></a>#}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Registered</th>
                                        <th>Activated</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}


{% block scripts_includes %}

    <!-- DataTables -->
    <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>

    <script> $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });</script>

{% endblock %}