{% extends 'layout.html' %}

{% block body %}
    <div class="container mb-6">

        <ul class="list-group">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4 ">{{ article.title }}</h1>
                </div>
                <div class="col-6">
                    <img src="{{ url_for('static',filename = 'img/upload/'+article.image) }}" alt="article_img" class="img-fluid rounded border article-img float-right">
                </div>
            </div>
            <small class="text-secondary pl-2">Written by {{ article.author }} on {{ article.create_date }}</small>
            <hr>
            <div>
                <p>{{ article.body | safe }}</p>
            </div>
        </ul>
    </div>
{% endblock %}