{% extends 'layout.html' %}

{% block body %}
    {#  Media Script  #}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
            nonce="StdBT1rg"></script>
    <script src="{{ url_for('static', filename='js/twitter.js') }}"></script>


    <div class="container pb-6 article-display">

        <ul class="list-group">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4 ">{{ article.title }}</h1>
                </div>
                <div class="col-6">
                    <img src="{{ url_for('static',filename = 'img/upload/'+article.image) }}" alt="article_img"
                         class="img-fluid rounded border article-img float-right">
                </div>
            </div>
            <p class="text-secondary mb-0">Written by {{ article.author }} on {{ article.create_date }}</p>
            <hr>
            <div>
                <p>{{ article.body | safe }}</p>
            </div>
        </ul>

            <div class="fb-share-button"
                 data-href="http://flasky-article-app.herokuapp.com/articles/{{ article.id }}/"
                 data-layout="button" data-size="large">
                <a target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fflasky-article-app.herokuapp.com%2Farticles%2F4%2F&amp;src=sdkpreparse"
                   class="fb-xfbml-parse-ignore">Share</a>
            </div>

            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet"
               data-size="large"
               data-text="{{ article.title }}"
               data-url="http://flasky-article-app.herokuapp.com/articles/{{ article.id }}/"
               data-hashtags="flaskyapp"
               data-related="twitterapi,twitter">
                Tweet
            </a>

        {% if session.admin or session.username == article.author %}
            <a href="/edit_article/{{ article.id }}" class="article-badge"><i class="fas fa-pencil-alt"></i></a>
        {% endif %}
    </div>
{% endblock %}