{% extends 'layout.html' %}

{% block body %}
    <div class="container mb-4">
        <h2 class="text-center display-4">Payments</h2>
        <hr class="my-3">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 order-md-1">
                <h2 class="text-center">Thank you for your support!</h2>
                <p class="lead text-center">The payment named on <u>{{ customer }}</u> was successful! Hope you enjoyed!</p>
            </div>
        </div>
    </div>
{% endblock %}