{% extends 'layout.html' %}

{% block body %}
    <div class="container mb-4">
        <h2 class="text-center">Payments page</h2>
        <hr class="my-3">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 order-md-1">
                <p class="lead text-center">Your payment is successful!</p>

                <button id="checkout-button" class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>
            </div>
        </div>
    </div>
{% endblock %}