html, body {
    height: 100%;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: #222;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding-bottom: 0;
    padding-top: 0;
}

.img-logo {
    width: 65px;
    height: 65px;
    margin-left: 3rem !important;
    margin-right: 1rem !important;
}

.navbar a {
    color: #999 !important;
    transition: ease-in-out color .15s;
}

.navbar a:hover {
    color: #fff !important;
    text-decoration: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav li {
    padding-right: 1.2rem;
}

.nav-link {
    font-size: 1.1rem !important;
}

.active a {
    color: white !important;
}

.footer-brand {
    margin: 0 auto;
    text-align: center;
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.slide {
    margin-right: -15px;
    margin-left: -15px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #fff;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 600;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.carousel-caption p {
    font-size: 130%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.btn-primary:focus {
    background-color: #483368;
    border: 1px solid #483368;
}

/* Jumbotron */
.jumbotron-index {
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.padding {
    padding: 2rem;
}

/* Connect - Social */
.social a {
    font-size: 4.5em;
    padding: 2.5rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa8;
}

.fa-github {
    color: #24292e;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #d5d5d5;
}

.alert {
    position: absolute;
    z-index: 1000;
    width: 90%;
    margin-left: -15px;
    left: 6%;
    top: 8%;
    box-shadow: 1px 1px 10px #393939;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.pb-6 {
    padding-bottom: 4rem !important;
}

.text-purple {
    color: #6648b1 !important;
}

.shadow-10 {
    box-shadow: 1px 1px 10px #222;
}

.map-container {
    overflow: hidden;
    padding-bottom: 46.25%;
    position: relative;
    height: 0;
    /*width: 80%;*/
    margin: 0 auto;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.about-box {
    background: #bbe2c3;
    margin-top: -4rem !important;
    padding: 4rem 1rem 3rem 4rem !important;
    margin-left: -15px;
    margin-right: -15px;
}

.about-heading-text {
    float: left;
}

.about-heading-img {
    /*float: right;*/
    display: flex;
    justify-content: center;
}

.number-in-circle {
    background-color: #fdc300;
    border: none;
    color: #fff;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 300;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
    display: inline-block;
    float: none;
    margin: 4rem auto 2rem;
}

.points-content {
    font-size: 16px;
    color: grey;
    padding: 0 40px;
}

.error-gears {
    /*height: 420px;*/
    padding-right: 15%;
}

.article-box {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    cursor: pointer;
    margin-bottom: .4rem;
}

.article-box:hover {
    filter: drop-shadow(1px 2px 3px #9e9e9e);
    border: 1px solid #9a8c8c1c;
}

.article-badge {
    float: right;
    position: relative;
    bottom: 25px;
    right: 11px;
    background-color: rgba(192, 193, 194, 0.4);
    padding: .4em 1em;
    border-radius: .5rem;
    display: none;
}

.article-box:hover .article-badge {
    display: inline-block;
    filter: none !important;
}

.article-img {
    max-height: 320px;
}

.article-display:hover .article-badge {
    display: inline-block;
}

a.article-badge {
    font-size: 115%;
    bottom: 20px;
    background: none;
    color: #2d2d2d;
}

.article-inner p {
    margin: .5rem;
}

.fb_iframe_widget {
    bottom: 6px;
}

.ck.ck-editor__main > .ck-editor__editable {
    min-height: 150px;
}

.no-activate-alert {
    bottom: 0;
    right: 1%;
    position: fixed;
    left: auto;
    top: auto;
    width: auto;
}

/* Credit Card */
.cc-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cc-base {
    background: #ccc;
    height: 340px;
    width: 595px;
    border-radius: 15px;
}

.cc-inner {
    background-color: #0c0014;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230d1838' points='1600%2C160 0%2C460 0%2C350 1600%2C50'/%3E%3Cpolygon fill='%230e315d' points='1600%2C260 0%2C560 0%2C450 1600%2C150'/%3E%3Cpolygon fill='%230f4981' points='1600%2C360 0%2C660 0%2C550 1600%2C250'/%3E%3Cpolygon fill='%231062a6' points='1600%2C460 0%2C760 0%2C650 1600%2C350'/%3E%3Cpolygon fill='%23117aca' points='1600%2C800 0%2C800 0%2C750 1600%2C450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: auto 147%;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 13px;
    padding: 20px 40px;
    box-sizing: border-box;
    color: #fff;
}

.cc-expire {
    margin: 0;
    font-size: 1.8em !important;
}

/* Controls chip icon */

.cc-chip {
    height: 80px;
    margin: 25px 0 25px 0;
}

.gold path {
    fill: url(#gold-gradient);
}

svg {
    display: block;
}

/* Controls name size */

.cc-logo {
    transform: scale(.5);
    margin-left: -75px;
}

.Card-number {
    margin-top: -25px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
}

.Card-number ul {
    padding: 0;
}

.Card-number ul li {
    list-style: none;
    float: left;
    margin: 0px 10px;
    font-size: 2.2em;
}

#first-cc-li {
    margin-left: 0;
}

#last-cc-li {
    margin-right: 0;
}

.Expire {
    font-size: .75em;
    text-align: center;
}

.Expire h4 {
    font-weight: 400;
    color: #aaa;
    margin: 0;
    /*   word-spacing: 9999999px; */
    text-transform: uppercase;
}

.Name h3 {
    position: absolute;
    bottom: 0;
    left: 18%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.35em;
    color: rgba(255, 255, 255, 0.85);
}

.Visa {
    width: 175px;
    position: absolute;
    bottom: -125px;
    right: 0;
    padding: inherit;
}

.grecaptcha-badge {
    z-index: 10000;
}

/* Google Sign-in button */
.google-signin-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.google-signin-btn .google-signin-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-signin-btn .google-signin-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.google-signin-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.google-signin-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-signin-btn:active {
    background: #1669f2;
}

/* User Dashboard */
.udash-table-actions a {
    display: none;
}

.udash-tr:hover a {
    display: inline;
}

.udash-wrap {
    padding: 0;
    margin-left: 250px;
    margin-top: -64px;
}

.udash-sidebar {
    background: rgba(0, 0, 0, .85);
    height: inherit;
    min-height: 105%;
    width: 250px;
    position: absolute;
    left: 0;
    top: 65px;
}

.udash-sidebar-image-wrap {
    display: inline-block;
    padding-left: .8rem;
}

.udash-sidebar-info-wrap {
    display: inline-block;
    color: rgb(213, 213, 213);
    padding: .5rem .1rem .5rem .8rem;
    font-size: 110%;
}

.udash-sidebar-image {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23) !important;
    width: 2.6rem;
}

.udash-sidebar-user-wrap{
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #7c848c;
    border-top: 1px solid #7c848c;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: darkgray;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #e4e4e4;
}

footer svg, footer small {
    color: #e4e4e4;
}

footer a:hover {
    color: #f2f2f2 !important;
    text-decoration: none;
}

/*---Media Queries --*/
@media (max-width: 1200px) {
    .Card-number ul li {
        list-style: none;
        float: left;
        margin: 0px 10px;
        font-size: 1.8em;
    }
}

@media (max-width: 992px) {

    .hidden-xs {
        display: none !important;
    }

    .social a {
        font-size: 3.2em;
        padding: 1.5rem;
    }

    .carousel-caption {
        top: 43%;
    }

    .carousel-caption h1 {
        font-size: 300%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #fff;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 0.8rem;
    }

    .carousel-caption p {
        font-size: 100%;
        font-weight: 400;
        text-shadow: 1px 1px 5px #000;
    }

    .navbar-nav li {
        padding-right: .1rem;
    }

    .article-badge {
        display: none !important;
    }

    .udash-table-actions a {
        display: inline;
    }
}

@media (max-width: 768px) {
    .social a {
        font-size: 2.5em;
        padding: 1rem;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption {
        top: 39%;
    }

    .carousel-caption h1 {
        font-size: 250%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px #fff;
    }

    .carousel-caption h3 {
        font-size: 110%;
        font-weight: 400;
        text-shadow: 1px 1px 7px #000;
        padding-bottom: 0.4rem;
    }

    .carousel-caption p {
        font-size: 90%;
        font-weight: 300;
        text-shadow: 1px 1px 5px #000;
        margin-left: -15px;
        margin-right: -15px;
    }

    .article-box-title {
        font-size: 1.8rem;
    }

    footer {
        text-align: center;
    }

    .error-gears {
        height: 220px;
    }
}

@media (max-width: 576px) {
    .social a {
        font-size: 2.5em;
        padding: .6rem;
    }

    .carousel-caption {
        top: 30%;
    }

    .carousel-caption h1 {
        font-size: 149%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px #fff;
    }

    .carousel-caption h3 {
        font-size: 110%;
        font-weight: 400;
        text-shadow: 1px 1px 7px #000;
        padding-bottom: 0.2rem;
    }

    .carousel-caption button {
        font-size: 1rem;
        padding: .4rem .8rem;
    }

    .carousel-caption p {
        font-size: 80%;
        text-shadow: 1px 1px 5px #000;
        margin-left: -55px;
        margin-right: -55px;
    }

    .cc-chip {
        height: 52px;
    }

    .Card-number ul li {
        font-size: 1.4em;
    }

    .Expire h4 {
        font-size: 1.2rem;
    }

    .cc-expire {
        font-size: 1.4em !important;
    }

    .Visa {
        width: 144px;
    }

    .article-box-title {
        font-size: 1.7rem;
    }
}