{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">About us</h1>
        <p class="lead">About information</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi exercitationem fugit hic in maxime,
            nesciunt provident quibusdam quidem? A aliquid illo maiores quibusdam quisquam vero. In obcaecati quo
            repellat sapiente.</p>

        <div class="row shadow-10 map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.41332964595!2d-0.11468008390112396!3d51.50563257963483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b73f35bfff%3A0x8a6fb9251e10a493!2sFranklin-Wilkins%20Building%2C%20150%20Stamford%20St%2C%20South%20Bank%2C%20London%20SE1%209NH%2C%20UK!5e0!3m2!1sen!2s!4v1597568676193!5m2!1sen!2s"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
    </div>
{% endblock %}