{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-signin" method="POST">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Add Article</h1>

                    <div class="form-group">
                        {{ render_field(form.title, class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ render_field(form.body, class_="form-control", id="editor") }}
                    </div>

                    <button class="btn btn-primary " type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}